body {
    font-family: Arial, sans-serif;
  	background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    margin: 0;
    padding: 2rem;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .display thead {
    background-color: #0077cc;
    color: white;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
  }
  